<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Finger+Paint&family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Aqar</title>
</head>
<body>
    <header>
        <div class="logo"><img src="../static/assets/logo.svg" alt=""></div>
        <div class="logo-name"><h1>REAL ESTATE <br> COMPANY</h1></div>
    </header>

    <div class="mid">
        <div class="mid-content">
            <h1 dir="rtl">بلمسة واحدة!</h1>
            <p dir="rtl">لا يحتاج تسجيل دخول فقط ضع بيانات العقار وسيتم توصيلك بافضل عقار مناسب لاحتياجاتك مجانا.</p>
            <button onclick="window.location.href='client'">ابدا الان</button>
        </div>

        <div class="mid-pic">
            <img src="../static/assets/image.png" alt="">
        </div>
    </div>

    <div class="social">
        <img src="../static/assets/tiktok.svg" alt="">
        <img src="../static/assets/instagram.svg" alt="">
        <img src="../static/assets/whatsapp.svg" alt="">
    </div>
    <div class="container">
        <div class="a1">
            <h4>خطوات العمل</h4>
        </div>

        <div class="a2">
            <div class="a21">
                <h3>كيف نساعدك في العثور على العقار المثالي؟</h3>
            </div>

            <div class="a22">
                <button onclick="window.location.href='client'">ابدا الان</button>
            </div>
        </div>

        <div dir="rtl" class="steps">
            <div class="step">
                <h2>01</h2>
                <div class="stepA">
                    <img src="../static/assets/add.svg" alt="document icon">
                    <h3>أضف تفاصيل العقار</h3>
                    <p>قم بإدخال موقع العقار، مساحته، الميزانية، وحالته.</p>
                </div>    
            </div>
            <div class="step">
                <h2>02</h2>
                <div class="stepA">
                    <img src="../static/assets/search.svg" alt="search icon">
                    <h3>نبحث من اجلك</h3>
                    <p>فريقنا يبدأ فورًا بالبحث عن أفضل الخيارات المتاحة التي تناسب احتياجاتك.</p>
                </div>    
            </div>
            <div class="step">
                <h2>03</h2>
                <div class="stepA">
                    <img src="../static/assets/home.svg" alt="house icon">
                    <h3>تسليم العقار</h3>
                    <p>نرسل لك العروض الأنسب، ونساعدك في إتمام العملية بكل سهولة.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>